body{
    margin: 0;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 0px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
    font-weight: bold;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: medium;
    font-weight:bold;
}
.listProduct .item button{
    background-color: #7796fa93;
    color: #547ef1;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    min-width: 160px;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.listProduct .item .addCart:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border-radius: 50px;
    background: #7796fa93;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.listProduct .item .addCart:hover:before {
  background: #7796fa93;
  width: 100%;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
}
.cartTab .btn-discount{  
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 5px;
    height: 30px;
    padding: 10px;
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    font-weight:bold;
    color: black;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.cartTab .orig{
    background-color: #f56868;
    font-size: medium;
    
}
.cartTab .dc95{
    background-color: #f59c68;
    font-size: medium;
}
.cartTab .dc7{
    background-color: #f5f264;
    font-size: medium;
}
.cartTab .dc65{
    background-color: #74c57f;
    font-size: medium;
}
.cartTab .dc62{
    background-color: #75a1f3;
    font-size: medium;
}
.cartTab .dc57{
    background-color: #5985fc;
    font-size: medium;
}
.cartTab .dc52{
    background-color: #cba1fa;
    font-size: medium;
}
.totalprice {
    font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}